
.wp-block-table .rates-badge {
    background-color: #FB6900;
    color: #fff;
    font-size: 0.5em;
    padding: 2px 5px;
    border-radius: 12px;
    position: relative;
    top: -5px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
.flag-icon {
    width: 20px;
    margin-left: 5px;
}

    
    